/* Global */

* {
    font-family: 'Kavoon', cursive;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}
@-webkit-keyframes fadeup {
    0% {
        margin-top: -25px;
        opacity: 1.0;
    }
    100% {
        margin-top: -350px;
        opacity: 0;
    }
}
@-webkit-keyframes zoomout {
    0% {
        -webkit-transform: scale(1.0, 1.0);
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        opacity: 0;
    }
}
@-webkit-keyframes halo {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}
@-webkit-keyframes achievement {
    0% {
        bottom: 150px;
        opacity: 1.0;
    }
    50% {
        bottom: 225px;
        opacity: 0;
    }
    100% {
        bottom: 300px;
        opacity: 0;
    }
}

@-moz-keyframes fadeup {
    0% {
        margin-top: -25px;
        opacity: 1.0;
    }
    100% {
        margin-top: -350px;
        opacity: 0;
    }
}
@-moz-keyframes zoomout {
    0% {
        -moz-transform: scale(1.0, 1.0);
        opacity: 1.0;
    }
    100% {
        -moz-transform: scale(0.5, 0.5);
        opacity: 0;
    }
}
@-moz-keyframes halo {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateZ(360deg);
    }
}
@-moz-keyframes achievement {
    0% {
        bottom: 150px;
        opacity: 1.0;
    }
    50% {
        bottom: 225px;
        opacity: 0;
    }
    100% {
        bottom: 300px;
        opacity: 0;
    }
}



/* Layout */

body {
    margin: 0px;
    padding: 0px;
    background: url(./img/bg.jpg);
}

#left, #center, #right {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    height: 100%;
    background: url(./img/bg.jpg);
}
#left {
    left: 0px;
    width: 30%;
    min-width: 400px;
}
#center {
    left: 30%;
    border-left: 5px solid #999;
}
#right {
    right: 0px;
    width: 300px;
    border-left: 5px solid #999;
}



/* Left */

#mokugyo {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 2;
}
#mokugyo:hover {
    -webkit-filter: drop-shadow(0px 0px 20px #fff);
    -webkit-filter: drop-shadow(0px 0px 10px #fff);
}
#mokugyo:active {
    opacity: 0.95;
}

.bonji {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(img/bonji.png);
    overflow: hidden;
    -webkit-animation: fadeup 2s ease 0s 1 forwards;
    -moz-animation: fadeup 2s ease 0s 1 forwards;
    z-index: 3;
}
.plus {
    position: absolute;
    width: 30px;
    height: 20px;
    -webkit-animation: zoomout 1s ease 0.3s 1 forwards;
    -moz-animation: zoomout 1s ease 0.3s 1 forwards;
    z-index: 3;
}

#count {
    position: absolute;
    top: 50%;
    margin-top: -220px;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.4);
    text-align: center;
    z-index: 4;
}

#count-total {
    font-size: 30px;
    text-align: center
}
#count-kps {
    font-size: 16px;
}

#halo {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    -webkit-animation: halo 20s linear 0s infinite forwards;
    -moz-animation: halo 20s linear 0s infinite forwards;
    z-index: 1;
}

.achievement {
    position: absolute;
    left: 0px;
    bottom: 150px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    -webkit-animation: achievement 3s ease 1.5s 1 forwards;
    -moz-animation: achievement 3s ease 1.5s 1 forwards;
    z-index: 3;
}



/* right */

#ofuse-label {
    width: 100%;
    height:100px;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
}
#asset-list {
    width: 100%;
}
.asset {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 5px;
    margin-bottom: 3px;
    background: #000;
    opacity: 0.3;
}
.asset-image {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 48px
    height: 48px;
}
.asset-name {
    position: absolute;
    top: 0px;
    left: 60px;
    width: 100%;
    height: 80px;
    font-size: 24px;
}
.asset-kudoku {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 100%;
    height: 80px;
    font-size: 16px;
}

.asset.available {
    opacity: 1.0;
}
.asset.available:hover {
    opacity: 0.96;
}
.asset.available:active {
    opacity: 1.0;
}


.jakucho-face {
    position: absolute;
    width: 70px;
    height: 100px;
    background: url(./img/jakucho_face.png);
    background-size: contain;
    overflow: hidden;
    z-index: 3;
}
